/* Reset some default margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

/* Navigation bar */
.navbar {
  background-color: #e9ca28; /* Yellow background */
  margin-bottom: 20px;
  border-radius: 0; /* Optional: Remove rounded corners */
}

/* Navigation items */
.navbar-nav > li > a {
  color: #333; /* Dark text color */
  font-size: 18px;
  transition: color 0.3s; /* Smooth color transition on hover */
}

.navbar-nav > li > a:hover {
  color: #007bff; /* Blue color on hover */
}

/* Navigation items on left */
.navbar-nav.left {
  margin-right: auto;
  margin-left: 20px;
}

/* Navigation items on right */
.navbar-nav.right {
  margin-left: auto;
  margin-right: 20px;
}

/* Navigation bar brand (logo) */
.navbar-brand {
  color: #333; /* Dark text color */
  font-size: 24px;
  margin-left: 20px;
  transition: color 0.3s; /* Smooth color transition on hover */
}

.navbar-brand:hover {
  color: #007bff; /* Blue color on hover */
}

/* Navigation bar brand on left */
.navbar-brand.left {
  margin-right: auto;
  margin-left: 20px;
}

/* Navigation bar brand on right */
.navbar-brand.right {
  margin-left: auto;
  margin-right: 20px;
}

.container {
  margin-top: 20px;
}

.container h1 {
  font-size: 50px;
}

.container p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Button styles */
.btn-primary {
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s; /* Smooth color transition on hover */
}

.btn-primary:hover {
  background-color: #0056b3;
}
